{% extends "::layout.html.twig" %}
{% block container %}
    {{texto}}
    <hr/>
    {% if fruits.pera ends with "a"%}
        {{fruits.manzana}}
    {% endif %}

    <hr/>
    {% set variable = "HOla Twig" %}
    {{ variable }}
    <hr/>
    <ul>
    {% if products|length > 0 %}
        {% for product in products %}
            <li>{{ product.productos }} - {{ product.precio }}</li>
        {% endfor %}
    {% endif %}
    </ul>
    <hr/>
    {% set date = date("-2 days", "Europe/Madrid") %}
    {% set texto = '   sdfasdf, asdf, asdf,asdf,sdf,   ,' %}
    {{ dump(date) }}
    {{ date|date("d-m-y") }}
    {{ texto|trim(",") }}
    <hr/>
    {{ include('AppBundle::pruebas/partial.html.twig') }}
    {{ min(52,1,65) }}
    <hr/>
    {{ random(20) }}
    <hr/>
    {{ random(['Batcman', 'Superman', 'Spiderman']) }}
    <hr/>
    {%  for i in range(0,24,4) %}
        {{ i }}<br>
    {% endfor %}
    <hr/>
    {{ generateTable(products)|raw }}
    <hr/>

    {{ "cadena de texto"|addText }}

{% endblock %}